body {
    padding: 0;
    margin: 0;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav {
    background-color: #1F2937;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 8px;
}

.nav-logo {
    font-size: 18px;
    color: #E5E7EB;
    
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;

}

/*Section one */

.section-one {

    padding-left: 18%;
    padding-right: 18%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #1F2937;
    display: flex;
    align-items: normal;
    justify-content:start;
   
    gap: 10px;

}

.main-text  .hero-text {
    padding-left: 5%;
    padding-right: 15%;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;

}

.main-text .hero-subtext {
    padding-left: 5%;
    padding-right: 15%;
    color: #E5E7EB;
    font-size: 18px;
}

.main-text button {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight:700;
    background-color: #3882f6;
    color: #E5E7EB;

    width: 100px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text .sing-up {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 15%;

 
}

.main-text {
    line-height: 1.2;
}

.hero-image {
    width: 1000px;
    height: 200px;
    color: #ffffff;
    background-color: #e5e7eb4d;

    display: flex;
    align-items: center;
    justify-content: center;
}



/*Section two */

.section-two{
    padding-left: 40%;
    padding-right: 40%;
}

.section-two h2 {
    padding-top: 10%;
}

.section-two-images-content {
   
    display: flex;
    justify-content:center;
    justify-content: center;

    padding-top: 15%;
    padding-bottom: 25%;

    gap: 100px;
}


.image-div {
    width: 180px;
    height: 170px;
    border: solid;
    color: #3882f6;
    border-radius: 10px;
}

.info p {
    text-align: center;
}


/*Section three */

.section-three {
    background-color:#E5E7EB;

    padding: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.phrase-motivation{
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
}

/*section four */ 

.section-four {
    padding: 70px;
}

.last-call-singup {
    background-color: #3882f6;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 10px;
    height: 80px;
    padding: 15px;

}

.last-call-singup .top-text {
    font-weight: bold;
}

.last-call-singup button {
    border: 1px;
    border-color: #E5E7EB;
    border-radius: 5px;
    font-size: 18px;
    font-weight:700;
    background-color: #3882f6;
    color: #E5E7EB;

    width: 100px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}